body {
  background-image: url(../images/space.jpg)
}

.title {
  color: whitesmoke;
}

.img-container {
  display: flex;
  justify-content: center
}

.img {
  height: 20%;
}

.main-btns {
  height: 100px;
  width: 100px;
  margin-bottom: 50px
}